
<% @blogs.each do |blog| %>
  <li>
    <a href=<%= blog_path(blog.id) %>>
      <div class="row">
        <% if blog.isSuggest == 1 %>
          <div class="suggest">
            <img src="/assets/suggest.png" alt="">
          </div>
        <% end %>
        <div class="blog">
          <div class="short-content">
            <p><%= blog.title %></p>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="category">
                <p><%= blog.category.name %></p>
              </div>
              <div class="publish-time">
                <p><%= blog.datePublic.to_date.strftime("%Y.%m.%d") %></p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-3 action">
                <img src="/assets/interesting.png" alt="">
                <span><p><%= blog.interest %></p></span>
              </div>
              <div class="col-xs-3 action">
                <span><img src="/assets/like.png" alt=""></span>
                <span><p><%= blog.like %></p></span>
              </div>
              <div class="col-xs-3 action">
                <span><img src="/assets/dislike.png" alt=""></span>
                <span><p><%= blog.dislike %></p></span>
              </div>
              <div class="col-xs-3 action">
                <span><img src="/assets/disappoint.png" alt=""></span>
                <span><p><%= blog.disappoint %></p></span>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </a>
  </li>
<% end %>