
<% if current_user %>
    <div class="row comment">
      <div class="text-area" >
        <% if @blog_comments %>
          <% if @blog_comments.size > 0 %>
            <p><%= @blog.title %>のコメント一覧表</p>
          <% end %>
          <div id="comment_sentences">
            <% @blog_comments.order(:created_at).each do |comment| %>
              <div>
                <% if comment.user.avatar? %>
                  <img src="<%= comment.user.avatar %>" style="max-height: 4vh; max-width: 4vh;">
                <% else %>
                  <img src="/assets/avatar_default" alt="" style="max-height: 4vh; max-width: 4vh;">
                <% end %>
                <%= comment.created_at.to_date.strftime("%Y年%m月%d日") %>
                <b><%= (comment.user.name) %></b>: <br /> <p style="display: inline-block;"><i><%= h(comment.content) %></i></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <br>
        <p><%= t"blog.show.comment_title" %></p>
        <br>
        <%= form_for Comment.new, method: :post, remote: true do |f| %>
          <%= f.text_area :content, placeholder: t("blog.show.comment_text_holder") %>
          <%= f.hidden_field :blog_id, value: @blog.id %>
          <% if current_user %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>
        <% end %>
        <%= button_tag t("blog.show.conment_button_text"), id: "btn_comment" %>
      </div>
    </div>
<% end %>