
<div class="rate" >
  <p><%= t"blog.show.rate_title" %></p>
  <div class="row upper" >
    <div class="col-xs-6 rate-button left " action="interest" id="interest">
      <img src="/assets/rate-frame.png" alt="" class="rate-frame">
      <img src="/assets/interesting_rate.jpg" alt="" class="icon">
      <img src="/assets/rate-white-frame.png" alt="" class="rate-white-frame">
      <img src="/assets/tick.png" alt="" class="tick">
      <p><%= t"blog.show.rate.interest" %></p>
    </div>
    <div class="col-xs-6 rate-button right" action="like" id="like">
      <img src="/assets/rate-frame.png" alt="" class="rate-frame">
      <img src="/assets/like_rate.jpg" alt="" class="icon">
      <img src="/assets/rate-white-frame.png" alt="" class="rate-white-frame">
      <img src="/assets/tick.png" alt="" class="tick">
      <p><%= t"blog.show.rate.like" %></p>
    </div>
  </div>
  <div class="row lower" >
    <div class="col-xs-6 rate-button left" action="dislike" id="dislike">
      <img src="/assets/rate-frame.png" alt="" class="rate-frame">
      <img src="/assets/dislike_rate.jpg" alt="" class="icon">
      <img src="/assets/rate-white-frame.png" alt="" class="rate-white-frame">
      <img src="/assets/tick.png" alt="" class="tick">
      <p><%= t"blog.show.rate.dislike" %></p>
    </div>
    <div class="col-xs-6 rate-button right" action="disappoint" id="disappoint">
      <img src="/assets/rate-frame.png" alt="" class="rate-frame">
      <img src="/assets/disappoint_rate.jpg" alt="" class="icon">
      <img src="/assets/rate-white-frame.png" alt="" class="rate-white-frame">
      <img src="/assets/tick.png" alt="" class="tick">
      <p><%= t"blog.show.rate.disappoint" %></p>
    </div>
  </div>
</div>