
<div class="menu-bar" >
  <div class="scroll">
    <ul id="menu">
      <li class="active" id="all">すべて</li>
      <li value="#public_list" id="public">オススメ</li>
      <li value="#cate1_list" id="cate1">カテゴリ1</li>
      <li value="#cate2_list" id="cate2">カテゴリ2</li>
      <li value="#cate3_list" id="cate3">カテゴリ3</li>
    </ul>
  </div>
</div>

<div class="blog-list" data-turbolinks="false" id="main">
  <ul class="my-blogs-user">
    <%= render 'blog_list' %>
  </ul>

  <ul id="public_list" style="display: none;" >
    <%= render 'blog_public_list' %>
  </ul>

  <ul id="cate1_list" style="display: none;">
    <%= render 'blog_cate1_list' %>
  </ul>

  <ul id="cate2_list" style="display: none;">
    <%= render 'blog_cate2_list' %>
  </ul>

  <ul id="cate3_list" name="sekcija2" class="sekcija" style="display: none;">
    <%= render 'blog_cate3_list' %>
  </ul>

  <div class="text-center">
    <%= link_to '次ページ', blogs_path(:page => @blogs.next_page), :class => 'infinite-scrolling-user', :remote => true if @blogs.next_page %>
  </div>
</div>

<script>

  $("#menu li").click(function(e) {
    e.preventDefault()
    var selected = $(this).attr("value");
    $('#main ' + selected).stop().show().siblings().hide();

    if(selected === "#public_list"){
      $("#public").addClass("active");
      $("#all").removeClass("active");
      $("#cate1").removeClass("active");
      $("#cate2").removeClass("active");
      $("#cate3").removeClass("active");
    }

    if(selected === "#cate1_list"){
      $("#public").removeClass("active");
      $("#all").removeClass("active");
      $("#cate1").addClass("active");
      $("#cate2").removeClass("active");
      $("#cate3").removeClass("active");
    }

    if(selected === "#cate2_list"){
      $("#public").removeClass("active");
      $("#all").removeClass("active");
      $("#cate1").removeClass("active");
      $("#cate2").addClass("active");
      $("#cate3").removeClass("active");
    }

    if(selected === "#cate3_list"){
      $("#public").removeClass("active");
      $("#all").removeClass("active");
      $("#cate1").removeClass("active");
      $("#cate2").removeClass("active");
      $("#cate3").addClass("active");
    }
  });

</script>