
<div class="menu-bar" >
  <div class="scroll">
    <ul>
      <% if params[:category].nil? && params[:isSuggest].to_i == 0 %>
        <a href=<%= blogs_path %>><li class="active">すべて</li></a>
      <% else %>
          <a href=<%= blogs_path %>><li class="">すべて</li></a>
      <% end %>

      <% if params[:isSuggest].to_i == 1 && params[:category].nil? %>
        <a href="<%= blogs_path(isSuggest: 1) %>"><li class="active">オススメ</li></a>
      <% else %>
        <a href="<%= blogs_path(isSuggest: 1) %>"><li class="">オススメ</li></a>
      <% end %>

      <% @categories.each do |category| %>
        <% if params[:category].to_i.eql?(category.id) %>
          <a href="<%= blogs_path(category: category.id) %>"><li class="active"><%= category.name %></li></a>
        <% else %>
            <a href="<%= blogs_path(category: category.id) %>"><li class=""><%= category.name %></li></a>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="blog-list" data-turbolinks="false">
  <ul id="my-blogs-user" >
    <%= render 'blog_list' %>
  </ul>

  <div class="text-center">
    <%= link_to '次ページ', blogs_path(:page => @blogs.next_page), :class => 'infinite-scrolling-user', :remote => true if @blogs.next_page %>
  </div>
</div>

