
  <div class="menu-bar" >
    <div class="scroll">
      <ul>
        <a href=<%= blogs_path %>><li class="<%= params[:category].nil? ? "active" : "" %>">すべて</li></a>
        <a href="<%= blogs_path %>"><li class="<%= params[:isSuggest] == 1 ? "active" : "" %>">オススメ</li></a>
        <% @categories.each do |category| %>
            <a href="<%= blogs_path(category: category.id) %>"><li class="<%= params[:category].to_i.eql?(category.id) ? "active" : "" %>"><%=  category.name %></li></a>
        <% end %>
      </ul>
    </div>
  </div>

<div class="blog-list" data-turbolinks="false">
  <ul id="my-blogs-user" >
    <%= render 'blog_list' %>
  </ul>

  <div class="text-center">
    <%= link_to '次ページ', blogs_path(:page => @blogs.next_page), :class => 'infinite-scrolling-user', :remote => true if @blogs.next_page %>
  </div>
</div>

