<% if @blog.errors.any? %>
    <ul class="">
      <% for message_error in @blog.errors.full_messages %>
          <li class="text-danger"><%= message_error %></li>
      <% end %>
    </ul>
<% end %>

  <div style="padding-left: 30px">
    <h2>ブログ新記事作成</h2>
  </div>
  
  <%= form_for @blog, :html => {:class => "form-horizontal center"} do |f| %>

	  <div class="form-group">
      <%= f.label :title, "タイトル", :class => "control-label col-lg-2" %>
		  <div class="col-lg-4">
	      <%= f.text_field :title, :class => 'form-control' %>
	    </div>
	  </div>

	  <div class="form-group">
      <%= f.label :category_id, "カテゴリ", :class => "control-label col-lg-2" %>
		  <div class="col-lg-4">
        <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}), {}, class: "form-control" %>
	    </div>
	  </div>

    <div class="form-group">
      <%= f.label :datePublic, "公開時間", :class => "control-label col-lg-2" %>
      <div class="col-lg-4">
        <%= f.text_field :datePublic, class: 'datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "公開設定", :class => "control-label col-lg-2"  %>
      <div class="col-lg-4">
        <%= f.check_box :isPublic %> 公開する<br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label "オススメ", :class => "control-label col-lg-2"  %>
      <div class="col-lg-4">
        <%= f.check_box :isSuggest %> オススメ設定にする<br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label "見出し画像", :class => "control-label col-lg-2"  %>
      <div class="col-lg-4">
        <img id="previewImage" style="width: 150px; height: 150px"><br />
        <%= f.file_field :image, onchange: 'loadImageFile(event)' %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label "本文", :class => "control-label col-lg-2"  %>
      <div class="col-lg-4">
        <%= link_to "プレビュー", :class => "btn btn-preview" %>
        <%= f.cktext_area :content, :id => 'editor1' %><br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :author, "名前", :class => "control-label col-lg-2" %>
      <div class="col-lg-4">
        <%= f.text_field :author, :value => "ナルフォード", :class => 'form-control', style: 'float: left; width: 60%; display: block' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :jobName, "職業", :class => "control-label col-lg-2" %>
      <div class="col-lg-4">
        <%= f.text_field :jobName, :value => "塾講師" , :class => 'form-control', style: 'float: left; width: 60%; display: block' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :age, "年齢", :class => "control-label col-lg-2" %>
      <div class="col-lg-4">
        <%= f.text_field :age, :value => "26", :class => 'form-control', style: 'float: left; width: 60%; display: block' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "画像", :class => "control-label col-lg-2"  %>
      <div class="col-lg-4">
        <img id="previewAvatar" style="width: 150px; height: 150px"><br />
        <%= f.file_field :authorImage, onchange: 'loadAvatar(event)' %><br />
      </div>
    </div>

	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-4">
        <%= link_to "一覧", blogs_path, :class=>"btn btn-default" %>
        <%= f.submit "確認", :class => "btn btn-default btn-primary" %>
	    </div>
	  </div>

  <% end %>

<script type="text/javascript">
   // show datePicker
  $(document).ready(function(){
    $('.datepicker').datepicker({
      dateFormat: '%Y-%m-%d',
      timeFormat: '%H:%M:%S'
    });
  });

  // preview image before upload
  var loadImageFile = function(event) {
    var previewImage = document.getElementById('previewImage');
    previewImage.src = URL.createObjectURL(event.target.files[0]);
  };
  // preview avatar before upload
  var loadAvatar = function(event) {
    var previewAvatar = document.getElementById('previewAvatar');
    previewAvatar.src = URL.createObjectURL(event.target.files[0])
  }

//   $(document).ready( function() {
//     $('#previewButton').click( function () {
//       var contents = $('#editor1').val();
//       var mywin = window.open("", "ckeditor_preview", "location=0,status=0,scrollbars=0,width=500,height=500");
//
//       $(mywin.document.body).html(contents);
//     });
//
//     $('#editor1').ckeditor();
//   });

   CKEDITOR.replace( 'editor1' );


</script>


