<div id="blog_detail_and_author">
  <div class="blog-detail" id="view-detail">
    <div class="row">
      <% if @blog.isSuggest == 1 %>
          <div class="suggest">
            <img src="/assets/suggest.png" alt="">
          </div>
      <% end %>
      <div class="blog">
        <div class="title">
          <p><%= @blog.title %></p>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <% case @blog.category_id %>
            <% when 1 %>
              <div class="category" style="border: 1px solid #89c529;">
                <p style="color: #89c529;"><%= @blog.category.name %></p>
              </div>
            <% when 2 %>
              <div class="category" style="border: 1px solid #f8879f;">
                <p style="color: #f8879f;"><%= @blog.category.name %></p>
              </div>
            <% when 3 %>
              <div class="category" style="border: 1px solid #41b1e5;">
                <p style="color: #41b1e5;"><%= @blog.category.name %></p>
              </div>
            <% end %>
            <div class="public-time">
              <p><%= @blog.datePublic.to_date.strftime("%Y.%m.%d") %></p>
            </div>
          </div>
          <div class="col-xs-6">
            <div id="rate_result_show">
              <%= render 'rate_result' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 social social-share-button" data-title="<%= @blog.title %>">
            <button class="btn-twitter" rel="nofollow " data-site="twitter" onclick="return SocialShareButton.share(this);">
              <img src="/assets/twitter.png" alt="">
            </button>
          </div>
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url  %>">
            <div class="col-xs-4 social">
              <button class="btn-facebook">
                <img src="/assets/facebook.png" alt="">
              </button>
            </div>
          </a>
          <a href="http://line.me/R/msg/text/?<%= request.original_url %>">
            <div class="col-xs-4 social">
              <button class="btn-line">
                <img src="/assets/line.png" alt="">
              </button>
            </div>
          </a>
        </div>
        <div class="row">
          <div class="content">
            <img src=<%= @blog.image.url %> alt="">
            <p>
              <%= @blog.content.html_safe %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="author">
            <div class="author-image">
              <img src=<%= @blog.authorImage.url %> alt="">
              <div class="author-info">
                <p>この記事を書いた人</p>
                <div class="author-name">
                  <p><%= @blog.author %>先生</p>
                </div>
                <p><%= @blog.jobName %> / <%= @blog.age %>歳</p>
              </div>
            </div>

            <% if current_user %>
              <a href="<%= author_path %>">
                <div class="btn-show-profile">
                  <button class="btn-author" id="btn_author" >
                    <div class="row">
                      <p>ナルフォード先生のプロフィールを見る</p>
                      <img src="/assets/arrow.png" alt="">
                    </div>
                  </button>
                </div>
              </a>
            <% end %>

          </div>
        </div>
      </div>

      <%= render 'rate_blog' %>

      <%= render 'comment_create' %>

      <div class="social-bottom">
        <div class="title-social">
          <img src="/assets/social-icon.png" alt="">
          <p>SNSでシェアする</p>
        </div>
        <div class="col-xs-4 social social-share-button" data-title="<%= @blog.title %>">
          <button class="btn-twitter" rel="nofollow " data-site="twitter" onclick="return SocialShareButton.share(this);">
            <img src="/assets/twitter.png" alt="">
          </button>
        </div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url  %>">
          <div class="col-xs-4 social">
            <button class="btn-facebook">
              <img src="/assets/facebook.png" alt="">
            </button>
          </div>
        </a>
        <a href="http://line.me/R/msg/text/?<%= request.original_url %>">
          <div class="col-xs-4 social">
            <button class="btn-line">
              <img src="/assets/line.png" alt="">
            </button>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>

<script>

  var check_user_action = "<%= @check_action %>"
  <% if current_user %>
    $(".rate-button").removeClass("rate-active");
    $("#"+ check_user_action).addClass("rate-active");
  <% end %>

  $(".rate-button").on("click", function(){
    var get_action = $(this).attr("action");
    var check_action = $(".check-action").attr("action");

    if(check_action == get_action)
    {
      <% if current_user %>
        $(this).removeClass("rate-active");
        $.ajax({
          url: "/blogusers/create",
          dataType: "script",
          method: "post",
          data: {user_id: <%= current_user.id %>, blog_id: <%= @blog.id %>, user_action: "not_action" },
        });
      <% else %>
        $(this).removeClass("rate-active");
        $.ajax({
          url: "/blogusers/create",
          dataType: "script",
          method: "post",
          data: {user_id: "", blog_id: <%= @blog.id %>, user_action: "not_action" },
        });
      <% end %>
    }
    else
    {
      <% if current_user %>
        $(".rate-button").removeClass("rate-active");
        $(this).addClass("rate-active");
        $.ajax({
          url: "/blogusers/create",
          dataType: "script",
          method: "post",
          data: {user_id: <%= current_user.id %>, blog_id: <%= @blog.id %>, user_action: get_action },
        });
      <% else %>
        $(".rate-button").removeClass("rate-active");
        $(this).addClass("rate-active");
        $.ajax({
          url: "/blogusers/create",
          dataType: "script",
          method: "post",
          data: {user_id: "", blog_id: <%= @blog.id %>, user_action: "not_action" },
        });
      <% end %>
    }
  });


</script>