<div class="profile">
  <div class="row" id="first_layout" >
    <div class="avatar_layout_author">
      <img src="/assets/avatar.png" alt="">
    </div>
    <div class="author_info">
      <p class="author_title"><%= t"profile.author_title" %></p>
      <p class="author_name">
        <span class="name"><%= t"profile.author_name" %></span>
        <span class="job"><%= t"profile.author_job" %></span>
      </p>
      <div class="author_birth_place">
        <div class="label">
          <p><%= t"profile.author_birth_place" %></p>
        </div>
        <div class="explain">
          <p><%= t"profile.author_birth_place_text" %></p>
        </div>
      </div>
      <div class="author_age">
        <div class="label">
          <p><%= t"profile.author_age" %></p>
        </div>
        <div class="explain">
          <p><%= t"profile.author_age_text" %></p>
        </div>
      </div>
      <div class="author_subject">
        <div class="label">
          <p><%= t"profile.author_subject" %></p>
        </div>
        <div class="explain">
          <p><%= t"profile.author_subject_text" %></p>
        </div>
      </div>
    </div>
    <div class="author_intro_text">
      <p><%= t"profile.author_intro_text" %></p>
    </div>
  </div>

  <div class="row" id="second_layout">
    <div class="content">
      <img src="/assets/content-profile-2.png" alt="">
    </div>
  </div>

  <div class="row" id="third_layout">
    <div class="content">
      <img src="/assets/content-profile-3.png" alt="">
    </div>
  </div>

</div>