
<%= form_for [:admin, @blog], :html => {:class => "form-horizontal center"}, url: {action: :confirm} do |f| %>
  <% custom_errors(@blog) %>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.title" %></span>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :title, :class => 'form-control', placeholder: "必須255文字以内", id: "title-input" %>

        <% if @title_error.length > 0 %>
            <div class="text-danger"><%= @title_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.category" %></span>
      </div>
      <div class="col-md-4">
        <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}), {}, class: "form-control" %>
      </div>
      <div class="col-md-5">
        <p style="font-size: 17px"><%= t "admin.blog.create.form.require" %></p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.datePublic" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :datePublic, id: "datetimepicker", class: "form-control date-picker", placeholder: "必須" %>

        <% if @datePublic_error.length > 0 %>
          <div class="text-danger"><%= @datePublic_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isPublic" %></span>
      </div>
      <div class="col-md-4">
        <%= f.check_box :isPublic %> <%= t "admin.blog.create.form.setting_public" %><br />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isSuggest" %></span>
      </div>
      <div class="col-md-4">
        <%= f.check_box :isSuggest %><%= t "admin.blog.create.form.setting_suggest" %><br />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.image" %></span>
      </div>

      <div class="col-md-4">
        <div class="image_preview">
          <% if @blog.image? %>
              <%= image_tag(@blog.image_url) %>
          <% end %>
        </div>
        <p>必測/2MB以内/PNG,JPEGのみ</p>
        <label class="btn btn-default btn-sm", for="dimage", style="width: 42px;height: 31px;line-height: 7px;">
          <%= f.file_field :image, style:"display: none" , id: "dimage"%><br /><%= t"admin.blog.create.form.open_file"%>
          <%= f.hidden_field :image_cache %>
          
        </label>

        <% if @image_error.length > 0 %>
            <div class="text-danger"><%= @image_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.content" %></span>
      </div>
      <div class="col-md-10">
        <div id="preview"><%= link_to t("admin.blog.create.form.preview"), "" %></div>
        <div>
          <%= f.cktext_area :content , id: "content_text" %><br />

          <% if @content_error.length > 0 %>
              <div class="text-danger"><%= @content_error.html_safe %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <h3>投稿者設定</h3>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.author" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :author, :class => 'form-control', placeholder: "必須/32文宇以内", id: "author-text" %>

        <% if @author_error.length > 0 %>
            <div class="text-danger"><%= @author_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.jobName" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :jobName, :class => 'form-control', placeholder: "必須/32文宇以内", id: "jobName-text"  %>

        <% if @jobName_error.length > 0 %>
            <div class="text-danger"><%= @jobName_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.age" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :age, :class => 'form-control', placeholder: "必須/半角数字/2文宇以内", id: "age-input" %>
        <% if @age_error.length > 0 %>
            <div class="text-danger"><%= @age_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.authorImage" %></span>
      </div>
      <div class="col-md-4">
        <div class="author_image_preview">
          <% if @blog.authorImage? %>
              <%= image_tag(@blog.authorImage_url) %>
          <% else %>
              <img src="/assets/avatar_default" alt="image">
          <% end %>
        </div>
        <br />
        <label class="btn btn-default btn-sm" for="author_image">
          <%= f.file_field :authorImage, style:"display: none", id: "author_image" %><%= t"admin.blog.create.form.open_file"%>
          <%= f.hidden_field :authorImage_cache %>            
        </label>        
        <% if @authorImage_error.length > 0 %>
            <div class="text-danger"><%= @authorImage_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 col-md-offset-4 ">
          <div class="col-md-3">
            <%= link_to t("admin.blog.create.form.list"), admin_blogs_path, :class=>"btn btn-default" %>
          </div>
          <div class="col-md-3">
            <%= f.button t("admin.blog.create.form.save"), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>

</script>