
<%= form_for [:admin, @blog], :html => {:class => "form-horizontal center", :id => "formElem"}, url: {action: :confirm} do |f| %>
  <% custom_errors(@blog) %>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.title" %></span>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :title, :class => 'form-control', placeholder: "必須255文字以内", id: "title-input" %>
        <div class="text-danger" id="title_error_message"></div>
        <% if @title_error.length > 0 %>
            <div class="text-danger"><%= @title_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.category" %></span>
      </div>
      <div class="col-md-4">
        <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}), {}, class: "form-control" %>
      </div>
      <div class="col-md-5">
        <p style="font-size: 17px"><%= t "admin.blog.create.form.require" %></p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.datePublic" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :datePublic, id: "datetimepicker", class: "form-control date-picker", placeholder: "必須" %>
        <div class="text-danger" id="date_error_message"></div>
        <% if @datePublic_error.length > 0 %>
          <div class="text-danger"><%= @datePublic_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isPublic" %></span>
      </div>
      <div class="col-md-4">
        <%= f.check_box :isPublic %> <%= t "admin.blog.create.form.setting_public" %><br />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isSuggest" %></span>
      </div>
      <div class="col-md-4">
        <%= f.check_box :isSuggest %><%= t "admin.blog.create.form.setting_suggest" %><br />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.image" %></span>
      </div>

      <div class="col-md-4">

        <img id="previewImage"><br />
        <p>必測/2MB以内/PNG,JPEGのみ</p>
        <label class="btn btn-default btn-sm", style="width: 42px;height: 31px;line-height: 7px;">
          <%= f.file_field :image, onchange: 'loadImageFile(event)' , style:"display: none" , id: "dimage"%><br /><%= t"admin.blog.create.form.open_file"%>
        </label>
        <div class="text-danger" id="image_error_message"></div>
        <% if @image_error.length > 0 %>
            <div class="text-danger"><%= @image_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.content" %></span>
      </div>
      <div class="col-md-10">
        <div id="preview"><%= link_to t("admin.blog.create.form.preview"), "" %></div>
        <div>
          <%= f.cktext_area :content , id: "content_text" %><br />
          <div class="text-danger" id="content_error_message"></div>
          <% if @content_error.length > 0 %>
              <div class="text-danger"><%= @content_error.html_safe %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <h3>投稿者設定</h3>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.author" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :author, :class => 'form-control', placeholder: "必須/32文宇以内", id: "author-text" %>
        <div class="text-danger" id="author_error_message"></div>
        <% if @author_error.length > 0 %>
            <div class="text-danger"><%= @author_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.jobName" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :jobName, :class => 'form-control', placeholder: "必須/32文宇以内", id: "jobName-text"  %>
        <div class="text-danger" id="jobName_error_message"></div>
        <% if @jobName_error.length > 0 %>
            <div class="text-danger"><%= @jobName_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.age" %></span>
      </div>
      <div class="col-md-4">
        <%= f.text_field :age, :class => 'form-control', placeholder: "必須/半角数字/2文宇以内", id: "age-input" %>
        <div class="text-danger" id="age_error_message"></div>
        <% if @age_error.length > 0 %>
            <div class="text-danger"><%= @age_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.authorImage" %></span>
      </div>
      <div class="col-md-4">
        <div class="author_avatar_gallery" >
          <img src="/assets/image_default" id="previewAvatar" >
        </div>
        <br>
        <label class="btn btn-default btn-sm">
          <%= f.file_field :authorImage, onchange: 'loadAvatar(event)', style:"display: none" %><%= t"admin.blog.create.form.open_file"%>
        </label>
        <% if @authorImage_error.length > 0 %>
            <div class="text-danger"><%= @authorImage_error.html_safe %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 col-md-offset-4 ">
          <div class="col-md-3">
            <%= link_to t("admin.blog.create.form.list"), admin_blogs_path, :class=>"btn btn-default" %>
          </div>
          <div class="col-md-3">
           <%#= f.submit t("admin.blog.create.form.save"), :class => "btn btn-default btn-primary" %>
            <%= f.button "確認", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>

</script>