

<%= form_for [:admin, @blog], :html => {:class => "form-horizontal center"} do |f| %>

    <div class="row" style="padding-left: 20%">
      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.title" %></span>
        <div class="col-lg-4">
          <%= f.text_field :title, :class => 'form-control' %>
          <% if @blog.errors.any? %>
             <% @blog.errors.full_messages.each do |msg| %>
                <li class="text-danger"><%= msg %></li>
             <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.category" %></span>
        <div class="col-lg-4">
          <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}), {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.datePublic" %></span>
        <div class="col-lg-4">
          <%= f.text_field :datePublic, id: "datetimepicker", class: "form-control date-picker" %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.isPublic" %></span>
        <div class="col-lg-4">
          <%= f.check_box :isPublic %> <%= t "admin.blog.create.form.setting_public" %><br />
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.isSuggest" %></span>
        <div class="col-lg-4">
          <%= f.check_box :isSuggest %><%= t "admin.blog.create.form.setting_suggest" %><br />
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.image" %></span>
        <div class="col-lg-4">
          <img id="previewImage"><br />
          <label class="btn btn-default btn-sm", style="width: 60px; height: 37px; line-height: 9px;">
            <%= f.file_field :image, onchange: 'loadImageFile(event)' , style:"display: none" %><br /><%= t"admin.blog.create.form.open_file"%>
          </label>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.content" %></span>
        <div class="col-lg-4">
          <div id ="preview"><%= link_to t("admin.blog.create.form.preview"), "" %></div>
          <div>
            <%= f.cktext_area :content , id: "content_text" %><br />
          </div>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.author" %></span>
        <div class="col-lg-4">
          <%= f.text_field :author, :value => t("admin.blog.create.form.authorName_default"), :class => 'form-control' %>
          <% if @blog.errors.any? %>
              <% if :author.nil? %>
                <!--<li class="text-danger"><%= t'admin.errors.author_empty' %></li>-->
                <!--<li class="text-danger"><%= t'admin.errors.author_length' %></li>-->
              <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.jobName" %></span>
        <div class="col-lg-4">
          <%= f.text_field :jobName, :value => t("admin.blog.create.form.job_default") , :class => 'form-control' %>
          <% if @blog.errors.any? %>
              <% if :jobName.nil? %>
                <!--<li class="text-danger"><%= t'admin.errors.jobName_empty' %></li>-->
                <!--<li class="text-danger"><%= t'admin.errors.jobName_length' %></li>-->
              <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.age" %></span>
        <div class="col-lg-4">
          <%= f.text_field :age, :value => t("admin.blog.create.form.age_default"), :class => 'form-control', style: 'float: left; width: 60%; display: block' %>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label col-xs-2"><%= t "admin.blog.create.form.authorImage" %></span>
        <div class="col-lg-4">
          <img src="/assets/image_default.jpg" id="previewAvatar" style="width: 150px; height: 150px"><br />
          <label class="btn btn-default btn-sm", style="width: 60px; height: 37px; line-height: 9px;">
            <%= f.file_field :authorImage, onchange: 'loadAvatar(event)', style:"display: none" %><br /><%= t"admin.blog.create.form.open_file"%>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-offset-3 col-md-4">
            <div class="col-md-2">
              <%= link_to t("admin.blog.create.form.list"), admin_blogs_path, :class=>"btn btn-default" %>
            </div>
            <div class="col-md-2">
             <%#= f.submit t("admin.blog.create.form.save"), :class => "btn btn-default btn-primary" %>
              <%= link_to "Confirm", admin_blogs_confirm_path %>
            </div>
          </div>
        </div>
      </div>

    </div>
<% end %>