<div class="form-group" style="padding-left: 50px; padding-right: 30px">
  <table class=" table table-strip">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= t "admin.blog.table.create_at"%></th>
      <th><%= t "admin.blog.table.title"%></th>
      <th><%= t "admin.blog.table.category"%></th>
      <th><%= t "admin.blog.table.isSuggest"%></th>
      <th><%= t "admin.blog.table.author"%></th>
      <th><%= t "admin.blog.table.image"%></th>
      <th><%= t "admin.blog.table.public"%></th>
      <th><%= t "admin.blog.table.datePublic"%></th>
      <th><%= t "admin.blog.table.action"%></th>
    </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.id %></td>
          <td><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= blog.title %></td>
          <td><%= blog.category.name %></td>
          <td>
            <% if blog.isSuggest == 1 %>
                <div class="isSuggestCircle"></div>
            <% end %>
          </td>
          <td><%= blog.author %></td>
          <td><%= image_tag blog.image.thumb.url %></td>
          <td>
            <% if blog.isPublic == 1 %>
                <%= '公開中' %>
            <% else %>
                <%= '非公開中' %>
            <% end %>
          </td>
          <td>
            <%= blog.datePublic.try(:strftime, "%Y年%m月%d日 %H:%M" ) %><br />
            <div class="btn-group">
              <div class="row" blog_id=<%=blog.id%>>
                <div class='input-group date datetimepicker_cell' style="display: inline;">
                  <input type='hidden' id="hidden_field_<%=blog.id%>" >
                  <span class="input-group-addon" style="padding: 0; background-color: transparent; border: none; display: inline;">
                    <span class="btn btn-default" ><%= t("admin.blog.table.change_time") %></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <% if blog.isPublic == 1 %>
                  <%= button_to t("admin.blog.table.stop_public"), url_for(controller: 'blogs', action: 'unPublic', id: blog.id), method: :post, remote: :true, class: "btn btn-default btn-danger"%>
              <% end %>
            </div>
          </td>
          <td>
            <%= link_to t("admin.blog.table.edit_blog"), edit_admin_blog_path(blog.id), :class=>"btn btn-default" %>
            <%= link_to t("admin.blog.table.list_comment_blog"), admin_blog_path(blog.id), :class => "btn btn-default" %>
            <%= link_to t("admin.blog.table.delete_blog"), admin_blog_path(blog.id), data: {confirm: "削除ですか？"}, :method => :delete,:class => 'btn btn-default btn-danger'%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $('.datetimepicker_cell').datetimepicker({
    useCurrent: false
  });

  $('.datetimepicker_cell').on('dp.change', function(data){
    var blogID = $(this).parent().attr("blog_id");
    $(".bootstrap-datetimepicker-widget").hide();
    $.ajax({
      url: '/admin/blogs/'+ blogID,
      dataType: 'script',
      method: "patch",
      data: {redirect_check: 1, blog:{datePublic: data.date.format("Y-MM-D hh:mm") }},
      success: function(){
        $("#publish_time_"+ blogID).html(data.date.format("Y-MM-D hh:mm"));
      }
    });
  });
</script>