

<div class="panel-body">
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right "><%= t "admin.blog.create.form.title" %></span>
      </div>
      <div class="col-sm-10">
        <h4><%= @blog.title %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.category" %></span>
      </div>
      <div class="col-sm-10">
        <h4><%= @blog.category.name %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.datePublic" %></span>
      </div>
      <div class="col-sm-5">
        <h4><%= @blog.datePublic %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isPublic" %></span>
      </div>
      <div class="col-sm-10">
        <% if @blog.isPublic == 1 %>
            <%= '公開中' %>
        <% else %>
            <%= '非公開中' %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.isSuggest" %></span>
      </div>
      <div class="col-sm-10">
        <% if @blog.isSuggest == 1 %>
            <div class="isSuggestCircle"></div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.image" %></span>
      </div>
      <div class="col-sm-3">
        <% if @blog.image.length > 0 %>
            <%= image_tag @blog.image_url %>
      <% else %>
            <img src="/assets/avatar_default" alt="image" width=100, height=100>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.content" %></span>
      </div>
      <div class="col-sm-10">
        <%= @blog.content.html_safe %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.author" %></span>
      </div>
      <div class="col-sm-5">
        <h4><%= @blog.author %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.jobName" %></span>
      </div>
      <div class="col-sm-5">
        <h4><%= @blog.jobName %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group" data-no-turbolink>
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.age" %></span>
      </div>
      <div class="col-sm-3">
        <h4><%= @blog.age %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-2">
        <span class="form-title pull-right"><%= t "admin.blog.create.form.authorImage" %></span>
      </div>
      <div class="col-sm-3">
        <% if @blog.authorImage.length > 0 %>
            <%= image_tag @blog.authorImage.url %> alt="image" width=100, height=100>
        <% else %>
            <img src="/assets/avatar_default" alt="image" width=100, height=100>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group col-sm-2 col-sm-offset-5">
      <div class="col-sm-6">
        <button class="btn btn-default" id="back_button">Back</button>
      </div>
      <div class="col-sm-6">
        <%= link_to t("admin.blog.create.form.save"),admin_blogs_path(blog: {title: @blog.title, content: @blog.content, isSuggest: @blog.isSuggest, isPublic: @blog.isPublic,
                                                      image: @blog.image, author: @blog.author, jobName: @blog.jobName, age: @blog.age,
                                                      authorImage: @blog.authorImage, datePublic: @blog.datePublic, category_id: @blog.category_id}),
                    method: :post, class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
</div>