
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <h4 style="padding-left: 3%" ><b><%= t'admin.default_admin_page.list_student.list_title' %></b></h4>
            <ul>
              <li><a href=""><%= t'admin.default_admin_page.list_student.list_name' %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h4 style="padding-left: 3%" ><b><%= t'admin.default_admin_page.seft_check.title' %></b></h4>
            <ul>
              <li><a href=""><%= t'admin.default_admin_page.seft_check.list_count' %></a></li>
              <li><a href=""><%= t'admin.default_admin_page.seft_check.plan' %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <h4 style="padding-left: 3%" ><b><%= t'admin.default_admin_page.firend_hint.title' %></b></h4>
            <ul>
              <li><a href=""><%= t'admin.default_admin_page.firend_hint.list_thread' %></a></li>
              <li><a href=""><%= t'admin.default_admin_page.firend_hint.create_thread' %></a></li>
              <li><a href=""><%= t'admin.default_admin_page.firend_hint.list_comment' %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h4 style="padding-left: 3%" ><b><%= t'admin.default_admin_page.user_manager.title' %></b></h4>
            <ul>
              <li><a href=""><%= t'admin.default_admin_page.user_manager.list_account' %></a></li>
              <li><a href=""><%= t'admin.default_admin_page.user_manager.create_account' %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <h4 style="padding-left: 3%" ><b><%= t'admin.default_admin_page.blog.title' %></b></h4>
            <ul>
              <li><%= link_to t('admin.default_admin_page.blog.list'), admin_blogs_path %></li>
              <li><%= link_to t('admin.default_admin_page.blog.create'), new_admin_blog_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>




