<!DOCTYPE html>
<html>
  <head>
    <title>TrainingProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ckeditor/config' %>
  </head>

  <script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
      var data = $('textarea');
      $.each(data, function(i) {
        CKEDITOR.replace(data[i].id);
      });
    }
  });</script>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>

  </body>
</html>
