<!DOCTYPE html>
<html>
  <head>
    <title>TrainingProject</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'ckeditor/config' %>    
  </head>

 <!-- <script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
      var data = $('textarea');
      $.each(data, function(i) {
        CKEDITOR.replace(data[i].id);
      });
    }
  });
  </script>
-->

  <body>
    <% if user_signed_in? || admin_signed_in? %>
      <%= render 'shared/header' %>
    <% end %>
      <%= yield %>
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>

    <div id="modal-main-welcome" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-comment-ems">
        <div id="welcome-text">
          <%= image_tag "first_login_image" %>
        </div>
        <div id="button-welcome">
          <a href="<%= blogs_path %>" class="btn button button-blog-list"><p class="center-text"><i class="glyphicon glyphicon-list"></i>  記事一覧を見る <i class="glyphicon glyphicon-chevron-right pull-right"></i></p></a>
          <a href="<%= author_path %>" class="btn button button-author"><p class="center-text">ナルフォード先生のプロフィールをみる<i class="glyphicon glyphicon-chevron-right pull-right"></i></p></a>
        </div>
      </div>
    </div>

  </body>
  
</html>
